/* ---- Header Image */
.header-img{
    text-align: center;
}
.header-img img{
    height: 80px;
}

/* ------ Menu-Bar */
.menu-bar ul {
    display: flex;
    background-color: #000000; 
}
.menu-bar ul li{
    list-style-type: none;
    line-height: 50px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    transition: 0.3s;
}
.menu-bar ul li a:hover{
    background-color: lightgray;
    color: #000000;
}