.search-container{
    background-color: #222;
    margin: 0;
    text-align: center;
    padding: 20px;
}
.search-container input{
    width: 75%;
    padding: 5px;
    border-radius: 5px;
}
::placeholder{
    font-size: 14px;
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}
.price-container{
    border-left: 2px solid lightgray;
}
.price-container h2{
    text-align: center;
}